#header, #content, #footer {
    padding: 0 1% 0 1%;
}

.jumbotron {
    padding: 2% 10% 2% 10%;
    margin-bottom: 0;
}

#navigationBar {
    /*padding-left: 0;
    padding-right: 0;
    margin-left: 0;*/
    width: 100%;
}

.navbar-collapse {
    padding-left: 0;
    margin-left: 0;
}

.champName{
    margin-top:1%;
    margin-bottom: 0;
}

.champTitle{
    margin-top:2px;
}

html, body {
    height: 100%;
} 

#content {
    height:64%;
}